html {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
}

.body {
    background-color: aqua;
}

.main {
    max-width: 800px;
    background-color: aliceblue;
    padding: 20px 20px;
    border-radius: 10px;
    margin-top: 30px;
    box-shadow: 0px 0px 10px 0px #17D62D;
    margin: auto;
}

.main__elementForm {
    background-image: url("../images/us-100-dollar-bills.png");
    background-size: cover;
    background-position: center;

}